body {
	background-color: #514025;
	background-image: url("../img/fondo.jpg");
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

nav {
	background-color: #b21c24;
	margin: 0;
	padding: 0px 0px 0px 80px;
	overflow: hidden;
}

nav a {
	display: inline-block;
	text-decoration: none;
	color: 	#f2f2ef;
	padding: 26px;
	text-align: center;
}

nav a:hover {
	background-color: #af9670;
	color: #b21c24;
}


.m-navegacion {
	background-color: #b21c24;
	width: 909px;
	margin: 0 auto;
	overflow: hidden;
}
.m-navegacion a {
	display: inline-block;
	text-decoration: none;
	color: 	#f2f2ef;
	padding: 26px 0;
	width: 300px;
	text-align: center;
}

.m-navegacion a:hover {
	background-color: #af9670;
	color: #b21c24;
} 

.imagenes{
	margin-left: 40px;
	padding: 20px 0;


}
.pandita{
	display:inline-block;
	width: 7500px;
	margin-left: 40px;
	padding: 25px 0;


}

.panda{
	display:inline-block;
	width: 250px; 
	height: 250px;
	margin: 20px;
	border: 3px solid #ed5361;
	filter: grayscale(80%);
}

.uno{
	background-image: url(../img/a1.jpg);
}

.dos{
	background-image: url(../img/a2.jpg);
}

.tres{
	background-image: url(../img/a3.jpg);
}

.cuatro{
	background-image: url(../img/a4.jpg);
}
.panda span{
	color: white;
	padding: 10px 10px;
}


.salir{
	display: none;

}


.letras {
	width: 909px;
	margin: 0 auto;

}

.letras p {
	
	margin-top: 50px;

}

.izquierda {
	float: left;
	width: 47%;
	text-align: justify;
	color: white;
}

.derecha {
	float: right;
	width: 47%;
	text-align: justify;
	color: white;
}

.display {
	display: none;
}

footer{
	text-align: right;
	font-size: 20px;
	color: white;
	padding: 10px;
	background-color: #b21c24;
}
.foot1{
	background-image: url("../img/pandi.jpg");
	background-color: #b21c24;
	background-repeat: repeat-x;
	background-size: 50px;
	height: 50px;